.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: transparent;
    filter: saturate(2);
    overflow: hidden;
    /* z-index: -1; */
}
.colorBox{
    z-index: -1;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: transparent;
}
.colorBox:hover{
    background: #dd054d18;
    transition-duration: 0s;
    z-index: -2;

}
.backgroundAnim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #00bfff;
    filter: blur(60px);
    animation: animback 6s linear infinite;
}
@keyframes animback {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
    
}
